.DS_Store
.vscode/
aider.code-workspace
*.pyc
.aider*
aider_chat.egg-info/
build
dist/
Gemfile.lock
_site
.jekyll-cache/
.jekyll-metadata
aider/__version__.py

snyk-linux
private/notes.Text
tmp.benchmarks